ul {
  margin: 14px auto 4px;
  height: 300px;
  width: 90%;
  border-radius: 12px;
  padding: 0 0 56px 0;
  list-style: none;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}
ul::-webkit-scrollbar {
  display: none;
}
