html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  color: #1e1e1f;
  font-family: Monserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1beb9;
}

#root {
  margin: 0 auto;
  position: relative;
  max-width: 500px;

  min-height: 100vh;
  background: url("/public/giphy.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
