body {
  padding: 0;
  color: #1e1e1f;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1beb9;
}

#root {
  margin: 0 auto;
  position: relative;
  max-width: 500px;

  min-height: 100vh;
  background: url("/public/giphy.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
